<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      {{ 'APP_NAME' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="text_center">Private Scalable Instant Payment Platform</div>
  <div *ngIf="isElectron" class="center-content">
    <button ion-button (click)="loginWithGoogle()" full>Login with Google</button>
  </div>

  <div *ngIf="!isElectron" id="firebaseui-auth-container"></div>
</ion-content>