<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!accepted">Privacy Policy</ion-title>
    <ion-title *ngIf="accepted">Terms of Service</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding-horizontal class="wrapContent" #scrollingContent>
  <div *ngIf="!accepted">
    <b>Personal identification information</b>

    We collect personal identification information from users, when users log in to the wallet app or fill contact form. When you log in to the wallet app with your Google Account, your email address will be saved to Firebase Authentication. Users may or may not provide an email address, when contacting us via the contact form.
          
    Users may, however, visit our website or wallet app anonymously.
          
    We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain website or wallet app related activities.
    
    <b>Web browser cookies</b>
    
    Our website does not utilize cookies. The wallet app, may retain your account related data until you log out.
    
    <b>Non-personal identification information</b>
    
    No data about the user activities will be stored, when interacting with the website (excluding the contact form).
    
    When interaction with the wallet, non-personal information about the users is stored to Firebase Realtime Database depending on user activities. You may, check the exact types of data stored in Firebase Realtime Database from the source code of Dirsh available on Github (https://github.com/JarmoKukkola/DirshPlatform).
    
    <b>How we use collected information</b>
    
    Dirsh collects and uses Users personal information for the following purposes:
          
    To personalize user experience
    
    Google log in used to identify your personal Dirsh account.
    
    To send email correspondes
          
    The email address Users provide for feedback processing, will only be used to send them information and updates pertaining to their request. It may also be used to respond to their inquiries, and/or other requests or questions. If at any time the User would like to unsubscribe from receiving future emails, User may contact us via our contact form.  Email addresses collected from wallet app are used only for identifying your account and sending security related warnings. Email addresses collected from contact form are only used for correspondence and are subsequently deleted.
    
    <b>How your personal information is stored</b>
    
    Your personal information is stored on the Firebase Authentication and Firebase Realtime Database systems. We take serious effort keep your information safe. We protect the data with passwords and two factor authentication. We do not take any backups of your personal identification information.
    
    Messages and contact information send via our contact form are deleted from our database within 6 weeks.
    
    Your Google log in related data will remain in Firebase Authentication until you delete it yourself from the wallet app via "Settings-Delete Account".
    
    <b>How we protect your information</b>
    
    We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal email, and data stored on our data storages.
          
    Sensitive and private data exchange between the our servers and its Users happens over a SSL secured communication channel and is encrypted and protected with digital signatures. 
    
    <b>Third party websites</b>
    
    Users may find advertising or other content on our website or wallet app that link to the sites and services of our partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our website or wallet app. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our website or wallet app, is subject to that website's own terms and policies.
    
    <b>Firebase Privacy Policy</b>
    
    Dirsh uses Firebase Realtime Database and Firebase Authentication to provide our services. If you decide to use our services, you have to also consent to Firebase Privacy Policy (https://firebase.google.com/support/privacy/ https://firebase.google.com/terms/analytics) and Terms of Service (https://firebase.google.com/terms/).
          
    <b>Compliance with children's online privacy protection act</b>
    
    Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our website or wallet app from those we actually know are under 18, and no part of our website or wallet app are structured to attract anyone under 18.
    
    <b>Right to Be Forgotten</b>
    
    If you have contacted us via the contact form, you may request removal of your messages via the contact form. Please, state your email, so we can identify, which messages are yours. If you have used the wallet app to log in, basic information about your Google account will be registered to Firebase Authentication. You are able to delete your login data with "Delete Account" option in the wallet. The transaction history and account balances will not be deleted from our servers. If you choose to delete your account, you are not anymore able to access your tokens or transaction history of your account. In addition, we are not able to identify, which account is related to your social media account. However, sending tokens via REST API remains active, if you created API keys prior to deletion of your account. If you choose to log in to the wallet after deletion of the account, a new account will created with a new account number.

    <b>Right to Be Informed</b>

    You may request a summary of collected personal data via the contact form at https://dirsh.com/contact. Please, state your email address, because otherwise we are not able to identify you. We will send you an email to confirm that you are in control of the email address.
         
    <b>Changes to this privacy policy</b>
    
    Dirsh has the discretion to update this privacy policy at any time. When we do, revise the updated date at the bottom of this page,. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
          
    <b>Your acceptance of these terms</b>
    
    By using this website or wallet app, you signify your acceptance of this policy and terms of service. If you do not agree to this policy, please do not use our website or wallet app. Your continued use of the website or the wallet app following the posting of changes to this policy will be deemed your acceptance of those changes.
          
    <b>Contacting us</b>
    
    If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us using the contact form of: https://dirsh.com/contact
    
    <b>Updated on 28.5.2018</b>
  </div>
  <div *ngIf="accepted">
      If you require any more information or have any questions about our Terms of Service, please feel free to contact us by our contact form at https://dirsh.com/contact
          
      <b>Introduction</b>
      
      These terms and conditions govern your use of this website or wallet app; by using this website or wallet app, you accept these terms and conditions in full and without reservation. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website or the wallet app.
                
      You must be at least 18 [eighteen] years of age to use this website. By using this website and by agreeing to these terms and conditions, you warrant and represent that you are at least 18 years of age.
                
      <b>License to use website or wallet app</b>
      
      Unless otherwise stated, https://dirsh.com and/or its licensors own the intellectual property rights published on this website or wallet app and materials used on https://dirsh.com. Subject to the license below, all these intellectual property rights are reserved.
                
      You may view, download for caching purposes only, and print pages, files or other content from the website or wallet app for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.
                
      You must not:
                
      sell, rent or sub-license material from the website or wallet app;
      reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;
      redistribute material from this website - except for content specifically and expressly made available for redistribution; or
      republish or reproduce any part of this website through the use of iframes or screenscrapers.
      Where content is specifically made available for redistribution, it may only be redistributed within your organisation.
      
      <b>Acceptable use</b>
      
      You must not use this website or wallet app in any way that causes, or may cause, damage to the website or wallet app or impairment of the availability or accessibility of https://dirsh.com or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
                
      You must not use this website or wallet app to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.
                
      You must not conduct any systematic or automated data collection activities on or in relation to this website or wallet app without https://dirsh.com's express written consent.
      
      This includes:
                
      scraping
      data mining
      data extraction
      data harvesting
      'framing' (iframes)
      Article 'Spinning'
      You must not use this website or wallet app or any part of them to transmit or send unsolicited commercial communications.
                
      <b>Restricted access</b>
      
      Access to certain areas of this website or wallet app is restricted. https://dirsh.com reserves the right to restrict access to certain areas of this website or wallet app, or at our discretion, this entire website or wallet app. https://dirsh.com may change or modify this policy without notice.
                
      If https://dirsh.com provides you with a user ID and password to enable you to access restricted areas of this website or wallet app or other content or services, you must ensure that the user ID and password are kept confidential. You alone are responsible for your password and user ID security.
      
      https://dirsh.com may disable your user ID and password at https://dirsh.com's sole discretion without notice or explanation.
                
      <b>User content</b>
      
      In these terms and conditions, “your user content” means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to this website or wallet app, for whatever purpose.
                
      You grant to https://dirsh.com a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media. You also grant to https://dirsh.com the right to sub-license these rights, and the right to bring an action for infringement of these rights.
                
      Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal action whether against you or https://dirsh.com or a third party (in each case under any applicable law).
                
      You must not submit any user content to the website or wallet app that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.
      
      https://dirsh.com reserves the right to edit or remove any material submitted to this website or wallet app, or stored on the servers of https://dirsh.com, or hosted or published upon this website or wallet app.
                
      https://dirsh.com's rights under these terms and conditions in relation to user content, https://dirsh.com does not undertake to monitor the submission of such content to, or the publication of such content on, this website or wallet app.
                
      <b>No warranties</b>
      
      This website or wallet app is provided “as is” without any representations or warranties, express or implied. https://dirsh.com makes no representations or warranties in relation to this website or wallet app or the information and materials provided on this website or wallet app.
                
      Without prejudice to the generality of the foregoing paragraph, https://dirsh.com does not warrant that:
                
      this website or wallet app will be constantly available, or available at all; or
      the information on this website or wallet app is complete, true, accurate or non-misleading.
      Nothing on this website or wallet app constitutes, or is meant to constitute, advice of any kind. If you require advice in relation to any legal, financial or medical matter you should consult an appropriate professional.
                
      <b>Limitations of liability</b>
      
      https://dirsh.com will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website or wallet app:
                
      to the extent that the website or wallet app is provided free-of-charge, for any direct loss;
      for any indirect, special or consequential loss; or
      for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.
      These limitations of liability apply even if https://dirsh.com has been expressly advised of the potential loss.
      
      <b>Exceptions</b>
      
      Nothing in this website or wallet app disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit the liability of Dirsh in respect of any:
                
      death or personal injury caused by the negligence of https://dirsh.com or its agents, employees or shareholders/owners;
      fraud or fraudulent misrepresentation on the part of https://dirsh.com; or
      matter which it would be illegal or unlawful for https://dirsh.com to exclude or limit, or to attempt or purport to exclude or limit, its liability.
      
      <b>Reasonableness</b>
      
      By using this website or wallet app, you agree that the exclusions and limitations of liability set out in this website or wallet app disclaimer are reasonable.
                
      If you do not think they are reasonable, you must not use this website or wallet app.
                
      <b>Other parties</b>
      
      You accept that, as a limited liability entity, https://dirsh.com has an interest in limiting the personal liability of its officers and employees. You agree that you will not bring any claim personally against https://dirsh.com's officers or employees in respect of any losses you suffer in connection with the website or the wallet app.
                
      Without prejudice to the foregoing paragraph, you agree that the limitations of warranties and liability set out in this website or wallet app disclaimer will protect https://dirsh.com's officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as https://dirsh.com.
                
      <b>Unenforceable provisions</b>
      
      If any provision of this website or wallet app disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website or wallet app disclaimer.
                
      <b>Indemnity</b>
      
      You hereby indemnify https://dirsh.com and undertake to keep https://dirsh.com indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by https://dirsh.com to a third party in settlement of a claim or dispute on the advice of https://dirsh.com's legal advisers) incurred or suffered by https://dirsh.com arising out of any breach by you of any provision of these terms and conditions, or arising out of any claim that you have breached any provision of these terms and conditions.
                
      <b>Breaches of these terms and conditions</b>
      
      Without prejudice to https://dirsh.com's other rights under these terms and conditions, if you breach these terms and conditions in any way, https://dirsh.com may take such action as https://dirsh.com deems appropriate to deal with the breach, including suspending your access to the website or the wallet app, prohibiting you from accessing the website or the wallet app, blocking computers using your IP address from accessing the website or the wallet app, contacting your internet service provider to request that they block your access to the website or the wallet app and/or bringing court proceedings against you.
                
      <b>Variation</b>
      
      https://dirsh.com may revise these terms and conditions from time-to-time. Revised terms and conditions will apply to the use of this website or wallet app from the date of the publication of the revised terms and conditions on this website or wallet app. Please check this page regularly to ensure you are familiar with the current version.
                
      <b>Assignment</b>
      
      https://dirsh.com may transfer, sub-contract or otherwise deal with https://dirsh.com's rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.
                
      You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.
                
      <b>Severability</b>
      
      If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.
                
      <b>Entire agreement</b>
      
      These terms and conditions, together with https://dirsh.com's Privacy Policy constitute the entire agreement between you and https://dirsh.com in relation to your use of this website or wallet app, and supersede all previous agreements in respect of your use of this website or wallet app.
                
      <b>Law and jurisdiction</b>
      
      These terms and conditions will be governed by and construed in accordance with the laws of Bavaria, Germany, and any disputes relating to these terms and conditions will be subject to the exclusive jurisdiction of the courts of Bavaria, Germany.
                
      You can contact us by visiting https://dirsh.com/contact
      
      <b>Updated on 28.5.2018</b>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <button *ngIf="!accepted" ion-button full (click)="acceptPrivacyPolicy()">Accept Privacy Policy</button>
        <button *ngIf="accepted" ion-button full (click)="goToLogin()">Accept Terms of Service</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <button ion-button full (click)="quit()">Quit</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>