.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.contact_form {
  display: flex;
  // background: $primary;
  min-height: 128px;
  justify-content: center;
  flex-flow: column;
}

.button-padding {
  height: fit-content;
  position: relative;
  top: 48px;
}

.custom-dialog-container {
  display: block;
}

.custom-dialog-container .mat-dialog-container {
  padding:0px !important;
  margin:0px !important;
}