<div class="topic_white">
  The used open source libraries and their licenses are linked below
</div>

<shadow></shadow>

<div class="lightContainer container">

    <a class="text_link" href="https://github.com/angular/angular">Angular</a>
    <a class="text_link" href="https://github.com/angular/material2">Material Design components for Angular</a>
    <a class="text_link" href="https://github.com/DethAriel/ng-recaptcha">Angular component for Google reCAPTCHA</a>
    <a class="text_link" href="https://github.com/Microsoft/TypeScript">Typescript</a>
    <a class="text_link" href="https://github.com/palantir/tslint">TSLint</a>
    <a class="text_link" href="https://github.com/ngx-translate/core">The internationalization (i18n) library for Angular</a>
    <a class="text_link" href="https://github.com/ngx-translate/http-loader">A loader for ngx-translate that loads translations with http calls</a>
    <a class="text_link" href="https://github.com/zloirock/core-js">core-js</a>
    <a class="text_link" href="https://github.com/ReactiveX/rxjs">rxjs</a>
    <a class="text_link" href="https://github.com/angular/zone.js/">zone.js</a>
    <a class="text_link" href="https://github.com/firebase/firebase-admin-node">Firebase Admin Node.js SDK</a>
    <a class="text_link" href="https://github.com/firebase/firebase-functions">Firebase SDK for Cloud Functions</a>
    <a class="text_link" href="https://github.com/request/request">request</a>
    <a class="text_link" href="https://github.com/request/request-promise">request-promise</a>
    <a class="text_link" href="https://github.com/ionic-team/ionic">Ionic</a>
    <a class="text_link" href="https://github.com/ionic-team/ionic-native">Ionic Native</a>
    <a class="text_link" href="https://github.com/phonegap/phonegap-plugin-barcodescanner">phonegap-plugin-barcodescanner</a>
    <a class="text_link" href="https://github.com/apache/cordova-android">Cordova Android</a>
    <a class="text_link" href="https://github.com/apache/cordova-browser">Cordova Browser</a>
    <a class="text_link" href="https://github.com/lynrin/cordova-plugin-buildinfo">cordova-plugin-buildinfo</a>
    <a class="text_link" href="https://github.com/google/cordova-plugin-browsertab">cordova-plugin-browsertab</a>
    <a class="text_link" href="https://github.com/apache/cordova-plugin-device">cordova-plugin-device</a>
    <a class="text_link" href="https://github.com/apache/cordova-plugin-inappbrowser">cordova-plugin-inappbrowser</a>
    <a class="text_link" href="https://github.com/ionic-team/cordova-plugin-ionic-webview">Ionic's Webview</a>
    <a class="text_link" href="https://github.com/apache/cordova-plugin-splashscreen">cordova-plugin-splashscreen</a>
    <a class="text_link" href="https://github.com/apache/cordova-plugin-whitelist">cordova-plugin-whitelist</a>
    <a class="text_link" href="https://github.com/litehelpers/Cordova-sqlite-storage">Cordova/PhoneGap sqlite storage plugin</a>
    <a class="text_link" href="https://github.com/nordnet/cordova-universal-links-plugin">Cordova Universal Links Plugin</a>
    <a class="text_link" href="https://github.com/vstirbu/PromisesPlugin">PromisesPlugin</a>
    <a class="text_link" href="https://github.com/firebase/firebase-js-sdk">Firebase Javascript SDK</a>
    <a class="text_link" href="https://github.com/firebase/firebaseui-web">FirebaseUI for Web</a>
    <a class="text_link" href="https://github.com/ionic-team/ionic-plugin-keyboard">Ionic Keyboard Plugin for Cordova</a>
    <a class="text_link" href="https://github.com/ionic-team/ionicons">Ionicons</a>
    <a class="text_link" href="https://github.com/soldair/node-qrcode">node-qrcode</a>
    <a class="text_link" href="https://github.com/GoogleChromeLabs/sw-toolbox">Service Worker Toolbox</a>
    <a class="text_link" href="https://github.com/BennyFranco/ng-pdf-make">ng-pdf-make</a>
    <a class="text_link" href="https://github.com/bpampuch/pdfmake">pdfmake</a>
    <a class="text_link" href="https://github.com/yagop/node-telegram-bot-api">node-telegram-bot-api</a>
    <a class="text_link" href="https://github.com/desmondmorris/node-twitter">node-twitter</a>
    <a class="text_link" href="https://github.com/cure53/DOMPurify">DOMPurify</a>
    <a class="text_link" href="https://github.com/not-an-aardvark/snoowrap">snoowrap</a>
    <a class="text_link" href="https://github.com/motdotla/dotenv">dotenv</a>
    <a class="text_link" href="https://github.com/google/material-design-icons/">Material Design Icons</a>
    <a class="text_link" href="https://github.com/JetBrains/kotlin">Kotlin</a>
    <a class="text_link" href="https://github.com/gradle/gradle">Gradle</a>
    <a class="text_link" href="https://github.com/firebase/FirebaseUI-Android">FirebaseUI for Android</a>
    <a class="text_link" href="https://github.com/jsdom/jsdom">jsdom</a>
    <a class="text_link" href="https://www.npmjs.com/package/mkpath">mkpath</a>
    <a class="text_link" href="https://www.npmjs.com/package/plist">plist</a>
    <a class="text_link" href="https://www.npmjs.com/package/node-version-compare">node-version-compare</a>
    <a class="text_link" href="https://github.com/axios/axios">axios</a>
    <a class="text_link" href="https://github.com/ljharb/qs">qs</a>
    <a class="text_link" href="https://github.com/electron/electron">electron</a>
    <a class="text_link" href="https://github.com/electron-userland/electron-builder">electron-builder</a>
    <a class="text_link" href="https://github.com/Templarian/MaterialDesign">Material Design Icons</a>
    

  </div>